import pandas as pd
import numpy as np
import unicodedata
import re
from pandas.core.tools.datetimes import to_datetime
!pip install sqlalchemy psycopg2-binary
from sqlalchemy import create_engine
